.container {
  min-height: 100vh;
  /* padding: 0 0.5rem; */
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px 20px 0px 0px;
  /* justify-content: center; */
  /* align-items: center; */
  background-color: rgb(8, 0, 28);
}

.left{
  /* background-color: red; */
  border: solid;
  width: 14%;
}

@media screen and (min-width: 1200px){
  .left{
    width: 200px;
  }
}

@media screen and (max-width: 1200px) and (min-width: 600px){
  .left{
    width: 150px;
  }
}
.right{
  width: 85%;
  padding: 0 0px 0 10px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
