.container {
  min-height: 100vh;
  /* padding: 0 0.5rem; */
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px 50px 10px 100px;
  /* justify-content: center; */
  /* align-items: center; */
  background-color: rgb(8, 0, 28);
}

.left{

}

.right{

}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
