.tagsContainer{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.tagsLeft {
    display: flex;
    /* width: 50%; */
    margin-right: 25px;
    justify-content: flex-start;
    overflow: hidden;
    height: 50%;  
    width: 60%;
}

.tagsAll{
    background-color: rgb(255, 69, 125);
}

.tagsLeft a{
    /* margin: 0 25px 0 0; */
    border: 1.3px solid;
    border-color: rgb(44, 49, 102);
    border-radius: 25px;
    height: fit-content;
    width: fit-content;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size:small;
    /* background-color: rgba(46, 22, 131, 0.494); */
    padding: 3px 8px 3px 8px;
    margin: 0 3px 0 3px;
}

.tagsInput{
    border: 0.5px;
    background-color: rgba(22, 26, 66, 0.764);
    border-radius: 7px;
    padding: 9px;
    margin: 0px 5px 0px 0;
    width: 40%;
    height: 50%;
}

.tagsClear{
    background-color: rgb(35, 11, 153);
}

.tagsRight{
    align-items: center;
    width: 40%;
    display: flex;
    height: 50%;
    justify-content: flex-end;
}

.tagsRight a{
    margin: 0 25px 0 0;
    text-decoration: none;
    border: 1.3px solid;
    border-color: rgb(44, 49, 102);
    border-radius: 25px;
    height: fit-content;
    width: fit-content;
    text-align: center;
    color: white;
    font-size:small;
    padding: 3px 8px 3px 8px;
}

.blogsContainer{
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
    height: 100%;
    overflow-wrap: normal;
    flex-wrap: wrap;
}

.blogCard{
    width: 32%;
    min-width: 345px;
    min-height: 150px ;
    display: flex;
    /* justify-content: space-between; */
    /* border: 2px solid; */
    border-radius: 10px;
    /* padding: 3px; */
    margin: 20px 15px 15px 0;
    background-color: rgb(22, 26, 66);
}


@media screen and (min-width: 1400px){
    .blogCard{
        width: 32%;
        max-height: 150px;
    }
}

@media screen and (max-width: 1400px){
    .blogCard{
        width: 45%;
        max-height: 150px;
    }
    .blogsContainer{
        justify-content: space-around;
    }
}

@media screen and (max-width: 1000px){
    .blogCard{
        width: 75%;

    }
}


.cardThumbnailContainer{
    width: 50%;
    max-width: 50%;
}

.thumbnail{
    width:100%;
    height: 100%;
    object-fit: fill;
    border-radius: 10px;
}

.blogCardRight{
    max-width: 50%;
    margin: -10px 3px 3px 8px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardTopicSave{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -5px;
    margin-bottom: -15px;
}

.cardDesc{
    font-size: 10px;
    color: rgb(163, 163, 222);
    max-height: 55px;
    overflow: hidden;
}

@media screen and (max-height:765px){
    .cardDesc{
        display: none;
    };
}

.cardTopicSave img{
    width: 70%;
}

.cardViewsSavesLikes{
    display: flex;
    height: 20%;
    justify-content: space-around;
    padding-top: 15px;
    margin-bottom: 10px;
}

.cardViewsSavesLikes span{
    display: flex;
    justify-content: space-around;
    height: 50%;
    width: 24%;
    align-items: center;
}

