.container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    border-bottom:1px solid;
    padding: 0 60px 0 0px;
}

.navRight{
    display:flex;
    justify-content: flex-end;
    list-style-type: none;
    padding: 15px;
    /* margin-right: 20px; */
    width: 30%;
}

.navRight img{
    width: 30px
}
.btn {
    text-decoration: none;
    margin: 15px;
    color:rgb(255, 69, 125)
}
.profile:hover{
    background-color: rgba(22, 26, 66, 0.613);
    color: white;
    transition: 0.1s;
}
.profile{
    text-decoration: none;
    /* margin: 20px; */
    /* border: 1px solid; */
    /* width: 20px; */
    background-color: rgb(22, 26, 66);
    /* padding-right: 40%; */
    /* padding-left: 40%; */
    padding-top: 15%;
    padding-bottom: 15%;
    border-radius: 5px;
    color: rgb(255, 69, 125);
    border-color: none;
    /* border: 2px solid; */
    border: none;
    width: 180%;
}



.navLeft{
    display: flex;
    padding: 20px 0 20px 0;
    justify-content: flex-end;
    width: 70%;
}
.searchBar{
    border-radius:5px;
    width: 100%;
    background-color: rgb(18, 23, 72);
    border: 0.5px;
    padding: 20px;
    max-height: 50px;
    font-size: medium;
}
